{{#if title}}
  <h1>{{course}} | {{title}}</h1>
{{/if}}

<div class="row">
  {{#each info}}
    <div class="col-6">
      <h5>{{label}}: </h5>
      <p>{{value}}</p>
    </div>
  {{/each}}
</div>
<hr />
<div class="row text-center">
  <h2 class="text-primary">
    Grades
  </h2>
</div>
<hr />
<div class="row">
  <table class="table table-striped">
    {{#each grades}}
      <tr class="col-sm-4 swatch-indigo">
        <td class="p-3 text-success">{{label}}</td>
        <td class="p-3 text-success bg-body-primary">{{value}} </td>
      </tr>

    {{/each}}
  </table>
</div>